<h1>Assignments</h1>
<hr>

<form action="" class="form-inline">
    <div class="form-group mb-2">
       <input type="text" class="form-control mr-2" placeholder="Search">
       <button class="btn btn-outline-success">Search</button>
    </div>
</form>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <button type="button" class="btn btn-outline-light btn-sm"
                (click)="alterImage()">
                {{!showImage ? 'Show' : 'Hide'}}
                </button>
            </th>
            <th>#</th>
            <th>Assignee</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody *ngIf="assignments && assignments.length">
        <tr *ngFor="let assignment of assignments">
            <td>
                <img [collapse]="!showImage"
                     [isAnimated]="true"
                     src="assets/{{assignment.image}}" 
                     [style.width.px]="widthImg"
                     [style.margin.px]="marginImg"
                >
            </td>
            <td>{{assignment.id}}</td>
            <td>{{assignment.name}}</td>
            <td>{{assignment.title}}</td>
            <td>{{assignment.description}}</td>
            <td>{{assignment.dateStart}}</td>
            <td>{{assignment.dateEnd}}</td>
        </tr>
    </tbody>
    <tfoot *ngIf="!assignments.length">
        <tr>
            <td colspan="8" class="text-center">
                <h4>No tasks found!</h4>
            </td>
        </tr>
    </tfoot>
</table>